      <!-- Navigational header -->

<nav class="nav">
  <div class="nav-center">
    <a class="nav-item" href="https://github.com/haithcockce">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="https://www.facebook.com/AboveAsBelow">
      <span class="icon">
        <i class="fa fa-facebook-square"></i>
      </span>
    </a>
    <a class="nav-item" href="https://www.instagram.com/onlythebeardliest">
      <span class="icon">
        <i class="fa fa-instagram"></i>
      </span>
    </a>
    <a class="nav-item" href="/">
      <span class="icon">
        <i class="fa fa-home"></i>
      </span>
    </a>
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-info-circl"></i>
      </span>
    </a>
    <a class="nav-item">
      Resume
    </a>
    <a class="nav-item is-danger" href="mysites">Homebase</a>
  </div>
</nav>

