<html>
  <head>
    <title>Why hello there</title>
    {% include '__metas.html' %}
  </head>
  <body>
  
  {% include '__navbar.html' %}


  <section class="hero is-dark is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">  
            <h1 class="title">
                Charles Haithcock
            </h1>
			<h2 class="subtitle">
			  Think. Create. Do. 
			</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>

